@page "/modificaciones"
@using MudBlazor

<MudPaper Class="d-flex justify-center" style="max-width: 400px; width: 100%;">
    <div>
        <MudTable Elevation="1" Bordered="true" Hover="true" Class="mud-width-full" Items="@Modificaciones_">
            <HeaderContent>
                <MudTh></MudTh>
                <MudTh><strong><u>Selección</u></strong></MudTh>
                <MudTh><strong><u>Costo</u></strong></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="">
                    <strong>@context.Nombre</strong>
                </MudTd>
                <MudTd DataLabel="Selección">
                    <MudSelect @bind-Value="@context.Seleccion" Variant="Variant.Text" Dense="true">
                        @foreach (var option in context.Options)
                        {
                            <MudSelectItem Value="@option">@option</MudSelectItem>
                        }
                        
                    </MudSelect>
                </MudTd>
                <MudTd DataLabel="Costo">@context.Costo</MudTd>
            </RowTemplate>
        </MudTable>
    </div>
</MudPaper>

@code {

    //private List<string> SeleccionOptions = new List<string> { "Sí", "No" };

    private List<Modificacion> Modificaciones_ = new List<Modificacion>()
    {
        new Modificacion { Nombre = "STAGE", Seleccion = "", Costo = "", Options = new List<string> { "Sin Cambios", "Stage 1", "Stage 2", "Stage 3", "Volver Stock" } },
        new Modificacion { Nombre = "DECAT", Seleccion = "", Costo = "", Options = new List<string> { "No", "Si" } },
        new Modificacion { Nombre = "EGR-OFF", Seleccion = "", Costo = "", Options = new List<string> { "No", "Si" } },
        new Modificacion { Nombre = "DPF-OFF", Seleccion = "", Costo = "", Options = new List<string> { "No", "Si" } },
        new Modificacion { Nombre = "SCR-OFF", Seleccion = "", Costo = "", Options = new List<string> { "No", "Si" } },
        new Modificacion { Nombre = "DTC-OFF", Seleccion = "", Costo = "", Options = new List<string> { "No", "Si" } },
        new Modificacion { Nombre = "FLAPS-OFF", Seleccion = "", Costo = "", Options = new List<string> { "No", "Si" } },
        new Modificacion { Nombre = "MAF DELETE", Seleccion = "", Costo = "", Options = new List<string> { "No", "Si" } },
        new Modificacion { Nombre = "START-STOP", Seleccion = "", Costo = "", Options = new List<string> { "No", "Si" } },
        new Modificacion { Nombre = "SPEED-LIM", Seleccion = "", Costo = "", Options = new List<string> { "No", "Si" } },
        new Modificacion { Nombre = "POP N BANG", Seleccion = "", Costo = "", Options = new List<string> { "No", "Si" } },
        new Modificacion { Nombre = "LAUNCH CONTROL", Seleccion = "", Costo = "", Options = new List<string> { "No", "Si" } },
        new Modificacion { Nombre = "IMMO", Seleccion = "", Costo = "", Options = new List<string> { "No", "Si" } },
    };

    public class Modificacion
    {
        public string Nombre { get; set; }
        public string Seleccion { get; set; }
        public string Costo { get; set; }
        public List<string> Options { get; set; } = new List<string>();
    }

    //on ititializa set the first option of each select as selected
    protected override void OnInitialized()
    {
        foreach (var mod in Modificaciones_)
        {
            mod.Seleccion = mod.Options[0];
        }
    }


}